@import "../../styles/variables";

.calendarSheet {
  width: 350px;
  padding: .5rem;
  border-radius: 1rem;
  display: inline-block;
  background-color: $_darkCream;
}

.week {
  width: 100%;

  padding: .5rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;


  span {
    position: relative;

    width: calc(100% / 8);
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;


    border-radius: .25rem;
    color: $_brown;
  }

  .hasEvent {
    color: $_cream;

    background-color: $_green;

    cursor: pointer;

  }

  .today {
    &::after{
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $_blue;
    }
  }

  .selected {
    box-shadow: 3px 3px 0px $_brown, -3px -3px 0px $_brown;

  }
}

.header {
  span {
    color: $_cream;
    background-color: $_brown;
  }
}