@import "../../styles/variables";

.events {
  margin-top: 1rem;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;

  .event {
    padding: 1rem;
    border-radius: 1rem;

    box-shadow: 6px 6px 0 $_green, -6px -6px 0 $_green;

    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "image title title"
      "image location date"
      ". . more";
    column-gap: 1rem;

    cursor: pointer;

    transition: box-shadow .3s;

    &:hover {

      box-shadow: -6px 6px 0 $_green, 6px -6px 0 $_green;
    }


    img {
      grid-area: image;
      width: 50px;
    }

    .title {
      grid-area: title;
    }

    .location {
      grid-area: location;
    }

    .date {
      grid-area: date;
    }

    .more {
      grid-area: more;
    }
  }

}