@import "../styles/variables";

.footer {
  position: relative;

  width: 100%;

  z-index: 3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "rs disc"
    "copyr copyr";
  gap: 1rem;

  padding: 1rem;

  >div {
    max-width: 20ch;
    justify-self: center;
  }

  h5 {
    max-width: 20ch;
    border-bottom: 1px solid $_green;
    text-align: center;
  }

  ul {
    grid-area: disc;
    list-style: none;

    .rrssLink {
      display: flex;
      align-items: center;
      gap: 6px;

      a {
        color: $_green;
        text-decoration: none;
      }

      img {
        height: 2ch;
      }
    }
  }

  .copyright {

    color: $_darkCream;
    grid-area: copyr;
    text-align: center;
  }
}